body {
}

.main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-image: url(antoine-dautry-05A-kdOH6Hw-unsplash.jpg);
    background-position: center;
    background-size: contain;
    padding-top: 20px;
    padding-bottom: 10%;
}

.heading {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80%;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

h1, h4 {
    margin-top: 2%;
    margin-bottom: 2%;   
}

.start {
    height: 10%;
    width: 20%;
}

.timer {
    font-size: 66px;
    margin-top: 10%;
}

.mainGame {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 180px;
    background-color: green;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.game {
    
    text-align: center;
}

.problem {
    font-size: 48px;
}

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

input {
    display: block;
    margin: 0 auto;
    margin-top: 10px; 

}

button {
    border-radius: 20px;
    display: block;
    margin: 5px auto;
    color: white;
}

.wincounter {
    background-color: grey;
    padding: 5px;
    width: 20%;
    margin: 0 auto;
    border-radius: 20px;
}

.answerSection {
    background-color: grey;
    padding: 20px;
}

.start {
    background-color: black;
}

.submit {
    background-color: blue;
}

.next {
    background-color: blue;
}

.reset {
    background-color: red;
}

.pause {
    background-color: blue;
}